<div class="row row-0">
   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm">
      <pnx-map
         height="95vh"
         [center]= "[44.982667966765845, 6.062455200884894]"
         [zoom]="12">
            <pnx-geojson [onEachFeature]="onEachFeature.bind(this)" [geojson]="zps">
            </pnx-geojson>
      </pnx-map>
   </div>

   



   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm tab-container ">
      <h3> Zones de prospection</h3>
      
     
      <div id="blocSearch" class="row row-0 "> 
         <div class="searchZP"> 
               <small> Rechercher selon taxon </small>
               <input 
               [ngModel]="searchTaxon" (ngModelChange)="onSearchTaxon($event)" class="inputSearch" >
         </div>
         <!-- le ngModel est une directive permet de faire le Data Binding sur les éléments du formulaires de type Input et textarea
            Cette directive crée une instance de FormControl. 
            Elle met à jour la valeur de l'input à chaque chagement du modèle.
            J'ai créé exprès un @Input searchTaxon pour bien illustrer, mais ça sert à pas grand chose ici.
            Par contre, si, imagine, ya un <span> Vous venez de taper : {{searchTaxon }} </span>
            Et puis dans on a <input [(ngModel)]="searchTaxon">, quand on tape qqc dans cet input, ça va mettre à jour le {{searchTaxon}}, 
            d'où l'intérêt du [ngModel] et le @Input. 

         -->

         <!-- RAPPEL DE CONNAISSANCE
            + Un champ de formulaire, comme input ou select, est représenté par un FormControl en Angular.
            C' la plus petite partie d'un formulaire, il encapsule l'état du champ et sa valeur. 

         -->
         <div class="searchZP"> 
               <small> Rechercher selon l'année </small>
               <input [ngModel]="searchDate" (ngModelChange)="onSearchDate($event)" class="inputSearch" >
         </div>

         <div class="searchZP"> 
               <small> Rechercher selon l'organisme </small>
               <select class="form-control form-control-sm" id="monSelect"
               [ngModel]="searchOrga" (ngModelChange)="onSearchOrganisme($event)">
               <!-- il faut rajouter le ngModel pour pouvoir utiliser le ngValue -->
                    <option [ngValue]="null" > -- Sélectionnez un filtre -- </option>
                    <!-- le value ou ngValue représente la valeur qu'on souhaite envoyer au formulaire lorsque l'option est sélectionnée 
                  Si la valeur d'option est de type string -> utilise value, si elle est de type objet -> utilise ngValue -->
                    <option *ngFor="let label of tabOrganism"> {{label}} </option> 
                    <!-- Si cet attribut n'est pas définie (comme ici), la valeur sera le contenu textuel de l'élément <option> 
                       ça veut dire {{label}} -->

                    <option> test 1 </option>
                    <option> test 2 </option>
                    
              </select>
                

         </div>

      </div>
 

      <ngx-datatable
      #table
      class="material"
      [rows]="filteredData"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'" 
      [columnMode]="'force'" 
      [selected]="mapListService.selectedRow"
      [selectionType]="'single'"
      (select)="mapListService.onRowSelect($event)"
      [rowClass]="mapListService.getRowClass"
      [offset]="mapListService.page.pageNumber"
      [limit]="mapListService.page.size"
      [messages]="storeService.sftConfig.zp_message"
      >
<!-- 
    Attention: les [] sont les inputs et () sont les outputs. BINDING = LIAISON 
    Rappeler: Le Data Binding permet de synchroniser la vue au modèle JavaScript. 
    Le Data Binding contient 4 formes: l'interpolation {{}}, Property Binding [], Event Binding () et two- way Data Binding [()]
    C' ad permet de lier ce fichier html et le fichier ts correspondant.
    -> Les [] sont les Property Binding. 
    On peut modifier dynamiquement les propriétés d'un élément du DOM en fonction de données dans TypeScript. 
    -> Les () sont les Event Binding. Le () pour créer une liaison à un événement. 
    Il permet d'exécuter une fonction écrité dans le fichier ts suite à un événement émis sur le DOM (le html )
         ***La propriété $event: quand on a besoin de données suppémentaires d'un événement (quelle touche est pressée par ex).
         Elle transmet l'intégralité de la charge d'information de l'évenement au gestionnaire d'événement du composant
         (cad la fonction correspondante écrite dans le fichier ts ). Le paramètre $event est donc transmis aux méthodes. 
         Ce $ est présenté devant event dans l'appel de la méthode et pas dans la définition. 
         ***
    + [rows]: on fait sur filteredData et pas sur mapListService.tableData comme au début, pour pouvoir filtrer les résultats. 
    + [selected] : quand on clique sur la ZP, ça souligne la ligne correspondante dans ngx-datatable.
    Comme on précisé un peu plus haut, c' le Property Binding. 
    Effectivement, on modifie ngx-datatable en 'modifiant' les rows de mapListService (donc les données dans TypeScript). 
    En fait, c' grâce à cette fonction:             
      this.mapListService.mapSelected.next(feature.id);
      C' parce que quand on clique sur une ZP, ça modifie les données de ce code dessus (ça modifie le mapSelected de mapListService)
      -> donc en modifiant les données dans TypeScript -> modifie dinamiquement le DOM (ngx datatable) -> Property Binding    


    + [selectionType] : mode de sélection pour les lignes: single = une ligne est sélectionné à la fois. 
    + (select): output, quand une ligne ou une cellule est sélectionnée, ça va marqué en rouge la ZP. 
    C' le Event Binding. Effectivement, quand on clique sur la ligne, on crée un événement. 
    Elle appelle donc la fonction mapListService.onRowSelect($event) ($event ici, c' la ligne cliquée).
    + [messages ]: les messages qu'on veut afficher dans ngx datatable 
    + [rowClass] : fonction utilisée pour remplir les classes CSS d'une ligne.
    Cette fonction prendra une ligne et retournera une chaîne ou un objet, ici c' 'clickable',
    ce qui permet d'afficher la main avec le doigt... Attenion! Même si c' une fonction, ya pas les parenthèses après getRowClass(). 
    + [sortType] :  En mode "simple", cliquer sur un nom de colonne réinitialisera le tri existant avant le tri selon la nouvelle sélection. 
    En mode de sélection multiple, des clics supplémentaires sur les noms de colonne ajoutent un tri à l'aide de plusieurs colonnes.
    ATTENTION: le 'single' doit bien mettre dans le '', ça donne "'single'" !!!!!!!!!!!
    + (sort): la fonction pour trier les colonnes a été appelée. 



 -->
        <ngx-datatable-column *ngFor="let col of storeService.sftConfig.default_zp_columns" 
        [name]="col.name" [prop]="col.prop" [maxWidth]="col.width">
<!-- on peut maintenant ajuster le largeur de colonne comme on veut, en ajoutant l'input [width] sur des colonnes -->

        </ngx-datatable-column>
<!-- Input de ngx-datatable-column:
    [name]: label de colonne. 
    [prop]: propriété à laquelle liée les valeurs de ligne. 
 -->

         <!-- <ngx-datatable-column name="Identifiant" maxWidth="85" >
            <ng-template  let-row="row" ngx-datatable-cell-template  >
                {{row.id_base_site}}
            </ng-template>
         </ngx-datatable-column> 

         <ngx-datatable-column name="Taxon" maxWidth="350">
            <ng-template  let-row="row" ngx-datatable-cell-template  >
                {{row.nom_taxon}}
            </ng-template>
         </ngx-datatable-column>
         
         <ngx-datatable-column name="Nombre de visites" maxWidth="120">
            <ng-template  let-row="row" ngx-datatable-cell-template  >
                {{row.base_site.t_base_visits.length}}
            </ng-template>
         </ngx-datatable-column>

         <ngx-datatable-column name="Date de la dernière visite" maxWidth="160" >
            <ng-template  let-row="row" ngx-datatable-cell-template >
                {{row.date_max}}
            </ng-template>
         </ngx-datatable-column>

         <ngx-datatable-column name="Organisme" maxWidth="190" >
            <ng-template  let-row="row" ngx-datatable-cell-template >
                {{row.nom_organisme}}
            </ng-template>
         </ngx-datatable-column> -->

         <ngx-datatable-column maxWidth="90">
            <ng-template  let-row="row" ngx-datatable-cell-template>
               <button type="button" class="btn btn-info fa fa-eye" (click)="onInfo(row.id_base_site)" title="Visualiser">
               </button>
            </ng-template>
         </ngx-datatable-column> 
       
         
      </ngx-datatable>
  
      <div id="end-btn">
      
        <pnx-modal-download [pathDownload]='storeService.urlLoad' 
        [exportFormat]='storeService.sftConfig.export_available_format'
        labelButton='Télécharger toutes les visites'>
        </pnx-modal-download>
    <!-- On a crée un component propre pour créer un bouton dédié au téléchargement des données dans GeoNature: le pnx-modal-download. 
Il prend 2 inputs obligatoires:
    + [pathDownload]: à patir de ce chemin, on peut télécharger les données.
    + [exportFormat]: sur quel format qu'on veut télécharger (ici on a geojson, csv et shapefile. 
    Shapefile c' le format par défaut)
Pour les autres inputs facultatifs, je vais expliquer dans les autres fichiers quand on les voit. 

-->
         
      </div>

     

   </div>

</div>








